<header class="header">
   <!-- // <img src="https://images3.alphacoders.com/847/847928.jpg" alt="imagegaurav" class="headimage"/> -->
    <h1 >The <br> Some <br> Heading</h1>
    <h5 >About the website and bla bla</h5>
    <div class="aboutthewebsite">
        Some paragraph for the website , about website, content , bla ,bla, bla, bla, Some paragraph for the website , about website, content , bla ,bla, bla, bla,
        Some paragraph for the website , about website, content , bla ,bla, bla, bla,
    </div>
    <button type="button" value="Contact" >CONTACT</button>
</header>
<hr>
<div class="servicesdiv">
    Services <br> <h6>What we do</h6>
</div>
<section>
   <article>
       <img src="https://images3.alphacoders.com/847/847928.jpg" alt="" class="img01">
   </article>
   <div class="para1">
       <h4>PREPRODUCTION</h4>
       <p>
            Some paragraph for the website , about website, content , bla ,bla, bla, bla, Some paragraph for the website , about website, content , bla ,bla, bla, bla,
            Some paragraph for the website , about website, content 
       </p>
   </div>
 
   
</section>
<div class="para2">
    <h4>PREPRODUCTION</h4>
    <p>
         Some paragraph for the website , about website, content , bla ,bla, bla, bla, Some paragraph for the website , about website, content , bla ,bla, bla, bla,
         Some paragraph for the website , about website, content 
    </p>
</div>
<section>
    <article>
            
        <div>
                <img src="https://images3.alphacoders.com/847/847928.jpg" alt="" >
        </div>
    </article>
</section>



<section>
        <article>
            <img src="https://images3.alphacoders.com/847/847928.jpg" alt="" class="img01">
        </article>
        <div class="para1">
            <h4>PREPRODUCTION</h4>
            <p>
                 Some paragraph for the website , about website, content , bla ,bla, bla, bla, Some paragraph for the website , about website, content , bla ,bla, bla, bla,
                 Some paragraph for the website , about website, content 
            </p>
        </div>
      
        
    </section>
    <div class="para2">
         <h4>PREPRODUCTION</h4>
         <p>
              Some paragraph for the website , about website, content , bla ,bla, bla, bla, Some paragraph for the website , about website, content , bla ,bla, bla, bla,
              Some paragraph for the website , about website, content 
         </p>
     </div>
     <section>
         <article>
                 
             <div>
                     <img src="https://images3.alphacoders.com/847/847928.jpg" alt="" >
             </div>
         </article>
     </section>

<hr>
<br><br>
<br>
<img src="https://images3.alphacoders.com/847/847928.jpg" alt="imagegaurav" class="headimagee"/>
<h2 >Our client</h2>
<br><br><br><br>
<div class="lastone">
    <h3>Somthing</h3>
    <p>akhzbjzbjl lsfjkbcclsNknc sdnjndsndk dsJzddlJFL;ljsd fkjfJFJLsfj;l knsdihasf,basj,f zsjfbaljfbjblz
        sbzjbbfblksfzbjb jbzjbfj bzjb zfzdkflzbj bjlzbzfjl jl zjljl zjljbfskebljb 
    </p>
    <br><br>
    <h3>Somthing</h3>
    <p>akhzbjzbjl lsfjkbcclsNknc sdnjndsndk dsJzddlJFL;ljsd fkjfJFJLsfj;l knsdihasf,basj,f zsjfbaljfbjblz
        sbzjbbfblksfzbjb jbzjbfj bzjb zfzdkflzbj bjlzbzfjl jl zjljl zjljbfskebljb 
    </p>
    <br><br>
    <h3>Somthing</h3>
    <p>akhzbjzbjl lsfjkbcclsNknc sdnjndsndk dsJzddlJFL;ljsd fkjfJFJLsfj;l knsdihasf,basj,f zsjfbaljfbjblz
        sbzjbbfblksfzbjb jbzjbfj bzjb zfzdkflzbj bjlzbzfjl jl zjljl zjljbfskebljb 
    </p>
</div>

<center>
    <video src="https://www.youtube.com/watch?v=gVJtM3Hxw-s" width="40%" controls autoplay>
    </video>
</center>